.drawer-content {
  z-index: 5;
  position: fixed;
  top: 0;
  right: -110%;
  width: 400px;
  height: 100%;
  background: #fff;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: right 0.3s ease;
  display: flex;
  flex-direction: column;
}
.drawer-content.active {
  right: 0;
}
.drawer-body {
  flex: 1;
  overflow-y: auto;
  margin-top: 20px;
}
